# Ignore node_modules directory
node_modules/

# # Ignore sensitive information
# .env

# # Ignore build artifacts
# build/
# dist/

# # Ignore log files
# *.log

# # Ignore editor-specific files
# .vscode/
# .idea/

# # Ignore temporary or cache files
# *.tmp
# *.cache
